@import "flowbite/src/themes/default";

:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;

  color-scheme: light;
  color: #181717de;
  /* background-color: #cad1d6; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1e66a5;
    background-color: #c95050;
  }
}
